include README.md
include LICENSE.txt

include hai/configs/urls/datasets.json
include hai/configs/urls/hub_models.json
include hepai/workers/aliyun/model_config.yaml
recursive-include hepai/components/haiddf/worker/html *.html