
# Note: 以###{{depGroup}}###来分组

###{{base}}###
pyyaml
easydict  # for config_loader.py
fastapi  # for hai worker
requests  # for hai worker
uvicorn  # for hai worker
openai>=2.37.0
anthropic>=0.96.0
python-dotenv>=1.1.1
damei>=1.1.135
mcp>=1.15.0
numpy
contextvars
uvloop
gunicorn

# pytest 相关
pytest
asyncio
pytest-asyncio

